<html>
  <head>
  </head>
<body>
  <div class="welcome-container">
    <div class="nav-bar-container">
      <ul class="nav-bar">
        <li class="button"><a href="#">About</a></li>
        <li class="button"><a href="#">Blog</a></li>
        <li class="button"><a href="#">Sign In</a></li>
        <li class="button"><a href="#">Sign Up</a></li>
      </ul>
    </div>
  </div>
</body>
</html>
