/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 //= depend_on_asset "fire-min.jpg"
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 html {
   box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

 ul.nav-bar {
   list-style-type: none;
   margin: 0;
   padding: 20px;
   float: right;
 }

ul.nav-bar a  {
   text-decoration: none;
   text-align: center;
   padding: 10px;
   border: none;
   color: white;
 }

 ul.nav-bar li {
   display:inline;
   margin-right: 35px;
   font-size: 1.2em;
   border-width: 1px;
   border-radius: 5px;
 }

.nav-bar-container {
  height: 83px;
}

 .welcome-container {
   height: 700px;
   background-image: url('fire-min.jpg');
   background-repeat: no-repeat;
   background-position: 50% 70%;
   background-size: cover;
 }

 .tag {
   color: white;
   font-size: 1.4em;
   text-align: center;
 }
